@font-face {
  font-family: "B-Nazanin";
  src: local("B-Nazanin"), url(../../fonts/B-NAZANIN.TTF) format("truetype");
}
@font-face {
  font-family: "byekan";
  src: url(../../fonts/BYekan.ttf);
  src: url(../../fonts/BYekan.eot) format("woff"),
    url("../../fonts/BYekan.woff") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "isans";
  src: url("../../fonts/IRANSANSExpanded.eot?#") format("eot"),
    url("../../fonts/IRANSANSExpanded.woff2") format("woff2"),
    url("../../fonts/IRANSANSExpanded.woff") format("woff");
  font-weight: normal;
}
.nav {
  background-color: rgb(255, 255, 255);
  display: flex;
  padding: 20px;
  justify-content: space-between;
  flex-direction: row-reverse;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  font-family: "isans";
}
.navText {
  font-size: 20px;
  font-family: "byekan";
}
.navTitle {
  font-size: 16px;
  margin-left: 4px;
  margin-top: 2px;
}
.flexProducts {
  display: flex;
}
.flexImg {
  display: flex;
  flex-direction: row-reverse;
}
.containerImg {
  width: 60px;
  height: 30px;
  border-radius: 8px;
  margin-left: 10px;
}
.textTitle {
  color: rgb(253, 46, 160);
}
