@font-face {
  font-family: "B-Nazanin";
  src: local("B-Nazanin"), url(../../fonts/B-NAZANIN.TTF) format("truetype");
}
@font-face {
  font-family: "byekan";
  src: url(../../fonts/BYekan.ttf);
  src: url(../../fonts/BYekan.eot) format("woff"),
    url("../../fonts/BYekan.woff") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "isans";
  src: url("../../fonts/IRANSANSExpanded.eot?#") format("eot"),
    url("../../fonts/IRANSANSExpanded.woff2") format("woff2"),
    url("../../fonts/IRANSANSExpanded.woff") format("woff");
  font-weight: normal;
}
.nav {
  background-color: rgb(255, 255, 255);
  display: flex;
  padding: 20px 50px;
  justify-content: space-between;
  flex-direction: row-reverse;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  font-family: "isans";
}
.navText {
  font-size: 17px;
  font-family: "byekan";
  background-color: rgb(253, 92, 181);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  /* padding: 0px 11px 0px 11px; */
  color: white;
  border: 3px solid white;
}
.navTitle {
  font-size: 13px;
  margin-left: 6px;
  margin-top: 5px;
  color: rgb(143, 143, 143);
}
.flexProducts {
  display: flex;
}
.flexImg {
  display: flex;
  flex-direction: row-reverse;
}
.containerImg {
  width: 60px;
  height: 30px;
  border-radius: 8px;
  margin-left: 10px;
}

.textTitle {
  color: rgb(253, 46, 160);
  font-size: 20px;
}

.btnStyle {
  background-color: #ebedf0;
  color: rgb(136, 136, 136);
  padding: 10px 10px;
  border-radius: 5px;
  border: 1px solid #ebedf0;
  text-align: right;
  width: 250px;
}
.btnStyle:focus {
  border: 1px solid rgb(131, 131, 131);
  outline: none;
  color: rgb(70, 70, 70);
}
